%main
  .prefecture
    .prefecture__name
      = @user.nickname
      の投稿
    .prefecture__review
      - @review.each do |review|
        = link_to review_path(review) ,class:"link" do
          .prefecture__review__list
            .prefecture__review__list__huro
              .prefecture__review__list__huro__left
                = image_tag "#{review.photos[0].image}",width:"200px",height:"200px"
              .prefecture__review__list__huro__right
                .prefecture__review__list__huro__right__title
                  = review.title
                .prefecture__review__list__huro__right__region
                  = review.prefecture.name
                  = review.address
                .prefecture__review__list__huro__right__category
                  - review.category_reviews.each do |category_reviews|
                    = category_reviews.category.name