%main
  .prefecture
    .prefecture__name#prefecture-huro
      .prefecture__nickname
        = @user.nickname
        の投稿
      .logout
        = link_to  destroy_user_session_path, method: :delete do
          ログアウト
    .prefecture__review
      - @review.each do |review|
        = link_to review_path(review) ,class:"link" do
          .prefecture__review__list
            .prefecture__review__list__huro
              .prefecture__review__list__huro__left
                = image_tag "#{review.photos[0].image}",width:"200px",height:"100%"
              .prefecture__review__list__huro__right
                .prefecture__review__list__huro__right__title
                  .review-title タイトル: 
                  = review.title
                .prefecture__review__list__huro__right__region
                  .review-title 住所
                  %span
                    = review.prefecture.name
                    = review.address
                .prefecture__review__list__huro__right__category
                  .review-title カテゴリー
                  %span
                    - review.category_reviews.each do |category_reviews|
                      = category_reviews.category.name
                .prefecture__review__list__huro__right__price
                  .review-title 価格
                  %span
                    = review.price