.contents-main
  .contents-main__header
    .contents-main__header__photo
      .header-link
        .huronavi 都道府県から探す
        .huronavi カテゴリーから探す
        .login
          - if user_signed_in?
            .login-tomo
              = link_to "マイページ",destroy_user_session_path, method: :delete,class: 'signup'
          - else
            .login-tomo
              = link_to "ログイン", new_user_session_path, class: 'signup'
            .login-tomo
              = link_to "新規登録", new_user_registration_path, class: 'signup'
  .contents-main__title 
    .contents-main__title__list 
      .contents-main__title__list__huro
        Huronavi
      .contents-main__title__list__button
        = link_to "投稿する", new_review_path,class: 'post'
  .contents-main__text
    新着投稿
  .contents-main__list
    .contents-main__list__new
      - @review.each do |review|
        = link_to review_path(review) ,class:"link" do
          .contents-main__list__image
            = image_tag "#{review.photos[0].image}",width:"100%",height:"290px",class:"review-image"
            %p.aaa
              = review.title
  -#   .contents-main__list__new
      -# - @review.each do |review|
  -#       = link_to review_path(review) ,class:"link"do
  -#         .contents-main__list__new__review
  -#           .contents-main__list__new__review__title
  -#             = review.title
  -#           .contents-main__list__new__review__image
  -#             = image_tag "#{review.photos[0].image}",width:"200px",height:"250px"
  -#           .contents-main__list__new__review__rate
  -#             #rate{"data-review-rate" => "#{review.rate}"}
-# .japan-map
-#   都道府県から探す
-# #map-container
  -# .contents-main__japan
  -#   .contents-main__japan__title
  -#     都道府県から探す
  -#   %ul
  -#     %li
  -#       北海道・東北地方
  -#       = link_to "#" do
  -#         北海道
  -#       = link_to "#" do
  -#         青森県
  -#       = link_to "#" do
  -#         岩手県
  -#       = link_to "#" do
  -#         秋田県
  -#       = link_to "#" do
  -#         宮城県
  -#       = link_to "#" do
  -#         山形県
  -#       = link_to "#" do
  -#         福島県
  -#     %li
  -#       関東地方
  -#       = link_to "#" do
  -#         茨城県
  -#       = link_to "#" do
  -#         栃木県
  -#       = link_to "#" do
  -#         群馬県
  -#       = link_to "#" do
  -#         埼玉県
  -#       = link_to "#" do
  -#         東京都
  -#       = link_to "#" do
  -#         千葉県
  -#       = link_to "#" do
  -#         神奈川県
  -#     %li
  -#       北陸地方
  -#       = link_to "#" do
  -#         新潟県
  -#       = link_to "#" do
  -#         栃木県
  -#       = link_to "#" do
  -#         群馬県
  -#       = link_to "#" do
  -#         埼玉県
  -#       = link_to "#" do
  -#         東京都
  -#       = link_to "#" do
  -#         千葉県
  -#       = link_to "#" do
  -#         神奈川県
    
    
