.review
  = form_with model: @review, url:reviews_path,local: true do |f|
    = f.label :title
    = f.text_field :title
    = f.label :text
    = f.text_field :text
    = f.fields_for :photos do |img|
      %label
        .image
          = img.file_field :image,type:"file",class:"image_post"
    = f.label :"都道府県"
    = f.select :prefecture_id ,options_for_select(@prefecture.map{|p|[p.name, p.id]}) , prompt: "---"
    = f.label :address
    = f.text_field :address
    = f.label :price
    = f.text_field :price
    = f.label :access
    = f.text_field :access
    = f.label :holiday
    = f.text_field :holiday
    = f.label :bath_time
    = f.text_field :bath_time
    = f.submit  