.list
  .list_contents
    .list_contents__title
      %p
        タイトル:
        = @review.title
    .list_contents__photo 
      .list_contents__photo__main
        = image_tag "#{@review.photos[0].image}",width:"500px",height:"400px"
      .list_contents__photo__sub
        - @review.photos.each do |photo|
          = image_tag "#{photo.image}",width:"50px",height:"50px",class:"image-list"
    .review
      .review_1
        .list_contents__huro
          .onsenn
            住所
          .huro
            = @review.prefecture.name
            = @review.address
        .list_contents__huro
          .onsenn
            価格
          .huro
            = @review.price
        .list_contents__huro
          .onsenn
            アクセス
          .huro
            = @review.access
        .list_contents__huro
          .onsenn
            休館日
          .huro
            = @review.holiday
        .list_contents__huro
          .onsenn
            入浴時間
          .huro
            = @review.bath_time
      .review_2
        .list_contents__text
          .list_contents__text__user
            = image_tag "#{@user.icon}",width:"50px",height:"50px",class:"user-icon"
            %p
              ユーザー名:
              = @user.nickname
          .list_contents__text__text
            %p
              = @review.text
  .comments
    .comments-huro
      - @comments.each do |comment|
        .comments-huro__list
          .comment-user
            = image_tag "#{comment.user.icon}",width:"40px",height:"40px",class:"user-icon"
            .comment-nickname
              = comment.user.nickname
          .comment-text
            .comment-text__box
              %p 
                = comment.text
    = form_with model:@comment, url:review_comments_path(@review.id) , method: :post,local: true  do |f|
      = f.text_field :text, {class:"comment-form"}
      .submit-btn
        = f.submit "コメントする",{class:"comment-btn",id:"submit_btn"}
  .destory
    - if  user_signed_in? && current_user.id == @review.user_id
      = link_to  review_path ,  method: :delete  do
        %button 削除
      = link_to  edit_review_path(@review)  do
        %button 編集
.fff
  = @category.name