.list
  .list_contents
    .list_contents__title
      = @review.title
    .list_contents__photo 
      - @review.photos.each do |photo|
        = image_tag "#{photo.image}",width:"100px",height:"200px"
    .review
      .review_1
        .list_contents__huro
          %span 住所
          .huro
            = @review.prefecture.name
            = @review.address
        .list_contents__huro
          %span 価格
          .huro
            = @review.price
        .list_contents__huro
          %span アクセス
          .huro
            = @review.access
        .list_contents__huro
          %span 休館日
          .huro
            = @review.holiday
        .list_contents__huro
          %span 入浴時間
          .huro
            = @review.bath_time
      .review_2
        .list_contents__text
          %span 感想
        = @review.text
  .destory
    - if  user_signed_in? && current_user.id == @review.user_id
      = link_to  review_path ,  method: :delete  do
        %button 削除
      = link_to  edit_review_path(@review)  do
        %button 編集
  .comments
    = form_with model:@comment, url:review_comments_path(@review.id) , method: :post,local: true do |f|
      = f.text_field :text
      = f.submit
= render "footer" 